<div class="container">

	<h1>Shift the Subsidies</h1>
	<h2>Tracking the flow of public money to the fossil fuel industry</h2>

	<hr>

	<div class="row">
		<div class="col-sm-6">
			<p>Shift the Subsidies is an interactive tool to visually track and analyze the flow of energy subsidies two ways:</p>
			<ol>
				<li>from international, regional and bilateral public financial institutions around the world, and</li>
				<li>at the national and subnational levels supporting oil, gas and coal development.</li>
			</ol>
		</div>
		<div class="col-sm-6 text-center">
			<button id="progress" disabled class="btn btn-lg btn-primary enter">Waiting</button>
		</div>
	</div>
</div>

<div class="notice" data-page="exploration">
	<div class="container">
		<h3>Exploration Subsidies</h3>
		<p>Exploration subsidies support the discovery and expansion of additional fossil fuel reserves, at the same time that scientists warn that the majority of already known, proven reserves must stay in the ground in order to avoid catastrophic climate change. As new exploration is clearly inconsistent with global climate goals, these subsidies should be a top priority for immediate elimination.</p>
	</div>
</div>

	<div class="definition container">
		<p>According to the World Trade Organization, a subsidy is a transfer of funds or a potential transfer of funds from a government or public body through a grant, loan, equity infusion, or loan guarantee; a government fiscal incentive such as a tax credit; a government-provided good or service other than general infrastructure; or a government payment to a funding mechanism or private body to carry out one or more of the functions illustrated above.</p>
	</div>