<div class="container">

	<h1>Shift the Subsidies</h1>
	<h2>Track the flow of public money to the fossil fuel industry.</h2>

	<hr>

	<div class="selector row">
		<div class="select select-international col-sm-6">
			<h3>International</h3>
			<p>Grants, loans, equity, and loan guarantees to energy projects from international, 	regional, and bilateral public institutions.</p>
			<button disabled class="btn btn-default open">Loading</button>
		</div>
		<div class="select select-national col-sm-6">
			<h3>National</h3>
			<p>Tax credits, incentives and other types of support from national governments to oil, gas and coal.</p>
			<button disabled class="btn btn-default open">Loading</button>
		</div>
	</div>


</div>

<div class="notice">
	<div class="container">
		<h3>Exploration Subsidies</h3>
		<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat!</p>
	</div>
</div>

<div class="definition container">
	<p>According to the World Trade Organization, a subsidy is a transfer of funds or a potential transfer of funds from a government or public body through a grant, loan, equity infusion, or loan guarantee; a government fiscal incentive such as a tax credit; a government-provided good or service other than general infrastructure; or a government payment to a funding mechanism or private body to carry out one or more of the functions illustrated above.</p>
</div>
