<div class="mode-selector btn-group">
	<a href="#regions/international" class="btn btn-default<% if (this.viewState.get('mode') === 'international') { %> active<% } %>">International</a>
	<a href="#regions/national" class="btn btn-default<% if (this.viewState.get('mode') === 'national') { %> active<% } %>">National</a>
</div>

<div class="globe"></div>

<div class="carousel-caption">
<small>Above: </small>
<% if (this.viewState.get('mode') === 'international') { %>Regions of the world shaded by their ratio of clean vs. fossil fuel grants, loans, equity, and loan guarantees from international, regional, and bilateral public institutions.<% } %>
<% if (this.viewState.get('mode') === 'national') { %>Regions of the world shaded by their total tax credits, incentives and other types of national support to oil, gas and coal.<% } %>
</div>

<% if (this.viewState.get('mode') === 'international') { %>
	<a class="left carousel-control" href="#main" data-slide="prev" data-pane="institutions">
		<span class="pane-nav">Institutions</span>
	</a>
	<a class="right carousel-control" href="#main" data-slide="next" data-pane="sectors">
		<span class="pane-nav">Sectors</span>
	</a>
<% } %>