<div class="container">
	<button class="close">&times;</button>
	<div class="row"><div class="col-md-8 col-md-offset-2">

<h3>Shift the Subsidies<br><small>Track the flow of public money to the fossil fuel industry.</small></h3>
<hr>

<div id="about" class="page">

<h1>About</h1>

<h2>International</h2>

<p>The <b>Shift the Subsidies - International</b> database is an interactive tool to visually track and analyze the flow of energy subsidies from international, regional and bilateral public financial institutions around the world.</p>
	
<h3>Background</h3>

<p>For decades, wealthy countries and private companies have been using international aid and other foreign assistance—through grants, loans, equity and loan guarantees—to subsidize the expansion of the global fossil fuel industry.</p>

<p>International financial institutions such as the World Bank Group and regional development banks, along with export credit agencies and bilateral aid agencies, provide tens of billions of dollars each year in direct financial support to oil, gas and coal companies to expand production globally. This dirty energy infrastructure causes local pollution, relocation of communities, and contributes to climate change - which is expected to hit developing countries and the poor hardest - and rarely supports increased access to energy for the poor.</p>

<p>As the threat of climate change increases and recognition of the benefits of basic energy services for the world’s poorest grows, some aid money and even some money from export credit agencies has begun to shift toward cleaner modes of energy production and to increase access to energy for the world's poorest people. But a great deal of public money continues to flow to large-scale fossil fuel development.</p>

<p>By tracking energy subsidies, this database is designed to arm you with information on the quantity, sources, and types of energy subsidies in order to encourage development banks and other public finance institutions to Shift the Subsidies from dirty to clean energy.</p>

<h3>Who is responsible for the database?</h3>

<p><a href="http://www.priceofoil.org">Oil Change International</a> is responsible for the development and maintenance of the Shift the Subsidies database.</p>

<p><a href="http://bankwatch.org/">CEE Bankwatch Network</a> and <a href="http://www.bicusa.org">Bank Information Center</a> have contributed data to the website.</p>

<p><a href="http://staydiligent.com/">Diligent Creative</a> designed and developed the Shift the Subsidies database and website.</p>

<h3>What data is included in the database?</h3>

<p>The Shift the Subsidies database currently tracks energy projects and policy reforms supported by the following institutions from fiscal years 2008 to 2013:</p>
<ul>
<li>the World Bank Group, including the International Bank for Reconstruction and Development (IBRD), International Development Association (IDA), International Finance Corporation (IFC), and Multilateral Investment Guarantee Agency (MIGA)</li>
<li>regional development banks, including African Development Bank (AfDB), Asian Development Bank (ADB), European Bank for Reconstruction and Development (EBRD), European Investment Bank (EIB), and Inter-American Development Bank (IDB)</li>
<li>U.S. export credit agencies, including U.S. Export Import Bank and the U.S. Overseas Private Investment Corporation</li>
</ul>

<p>We are in the process of adding export credit agencies and bilateral aid from additional major governments.</p>

<p>Each project is classified as fossil fuel, clean energy, or other, and evaluated for whether it specifically targets energy access for the poor.</p>

<h3>How is the data compiled?</h3>

<p>Visit our <a href="#methodology">Methodology</a> page to learn more about how the data is researched and compiled.</p>

<h2>National</h2>

<p>The <b>Shift the Subsidies - National</b> database is an interactive tool to visually track and analyze the amount of public money at the national and subnational levels supporting oil, gas and coal development.</p> 
	
<h3>Background</h3>

<p>Every year, some $775 billion or more in subsidies around the world go towards supporting fossil fuels. In a time of economic hardship, dangerous climate change, and growing demand for reliable and cleaner sources of energy, these fossil fuel subsidies are a reckless and irrational use of taxpayer money and government investments.</p>

<p>In part recognizing this fact, global leaders from over 50 countries have made public commitments to phase out these subsidies in the “medium term”… but as with many commitments political leaders make, these have gone unfulfilled. Governments are busy hiding their subsidies and feigning activity, while billions of dollars are wasted, the atmosphere gets filled with greenhouse gas emissions and the planet burns.</p>

<p>The most egregious of these subsidies are production and exploration subsidies - those subsidies that pour more money into expanding already lucrative industries that thrive on further polluting our planet. According to the International Energy Agency, the Intergovernmental Panel on Climate Change, and others, more than two-thirds of currently proven fossil fuel reserves must stay in the ground in order to avoid the most dangerous impacts of climate change. Given this increasingly scientifically-accepted reality, continuing to put public money into the expansion of the oil, gas and coal industries is unpardonable.</p> 

<p>By tracking subsidies to oil, gas and coal at the national level, this database is designed to arm you with information to encourage national, state, and provincial governments to Shift the Subsidies from dirty to clean energy.</p>

<h3>Who is responsible for the database?</h3> 

<p><a href="http://priceofoil.org/">Oil Change International</a> is responsible for the development and maintenance of the Shift the Subsidies database. <a href="http://staydiligent.com/">Diligent Creative</a> designed and developed the Shift the Subsidies database and website.</p>

<h2>What data is included in the database?</h2> 

<p>The information included in the Shift the Subsidies - National database currently relies heavily on oil, gas and coal subsidy information from the Organization for Economic Cooperation and Development (OECD), which tracks fossil fuel subsidies in 34 countries.</p> 

<p>Using the data available from the OECD, Oil Change International has reviewed the subsidies, sometimes reclassifying them to showcase exploration, production and consumption subsidies, and converting the subsidy amounts provided to U.S. dollars. If currency conversion is required, the U.S. dollar amount is calculated based on the exchange rate on December 31 of the approval year, using the rates published on <a href="http://www.x-rates.com/historical/">X-Rates</a>.</p>

<p>Oil Change International has further reviewed and added data from additional sources in several key countries:</p> 
<ul>
<li>United States: Oil Change has completed additional research on U.S. fossil fuel subsidies, and various sources have been added to the OECD data.</li>
<li>Indonesia: Oil Change has completed original research on coal subsidies in Indonesia.</li>
</ul>

<p>Further research on production subsidies is forthcoming on fossil fuel subsidies, particularly those for exploration and production, in G20 countries.</p> 	

<hr>

<h3>Contact</h3>

<p>For more information, please contact info (at) priceofoil.org.</p>

</div>

<div id="methodology" class="page">

<h1>Methodology</h1>

<h2>Which institutions are tracked in Shift the Subsidies database?</h2>

	<p>The Shift the Subsidies database currently tracks energy projects and policy reforms supported by the following institutions from fiscal years 2008 to 2013:</p>
	<ul>
	<li>the World Bank Group, including the International Bank for Reconstruction and Development (IBRD), International Development Association (IDA), International Finance Corporation (IFC), and Multilateral Investment Guarantee Agency (MIGA)</li>
	<li>major regional development banks, including African Development Bank (AfDB), Asian Development Bank (ADB), European Bank for Reconstruction and Development (EBRD), European Investment Bank (EIB) and Inter-American Development Bank (IDB)</li>
	<li>U.S. export credit agencies, including U.S. Export Import Bank, and the U.S. Overseas Private Investment Corporation</li>
	</ul>

	<p>We are in the process of adding export credit agencies and bilateral aid from additional major governments.</p>

	<p>Our <a href="/institutions">Funding Institutions</a> page compares institutions in terms of how much financing they have provided to fossil fuel energy, clean energy, and energy access for the poor.</p>

	<p>Note that the 'Timeline' function filters by fiscal year for the 'Funding Institutions' section and by calendar year for the other sections.</p>

	<h2>How are projects classified as ‘Fossil’, ‘Clean’, or 'Other'?</h2>

	<p>Each project is classified into a category and sector as outlined below, based on the description of the project and project documents. A description of each category can be found by clicking on the sector under the ‘Energy Sectors’ tab.</p>

	<p><b>Fossil Fuel.</b> Fossil fuels include any oil, gas or coal production or exploration projects, or projects supporting the development or transmission of fossil fuel power.  It also includes any policy reforms that provide incentives for fossil fuel development and investment.</p>
	
	<p><b>Clean Energy.</b> In this database, clean energy includes energy that is both low carbon and has negligible impacts on the environment and on human populations. Some energy efficiency and some renewable energy—energy coming from naturally replenished resources such as sunlight, wind, rain, tides, and geothermal heat, is included as 'Clean' energy. It also includes any policy reforms that provide incentives for clean energy development and investment.</p>

	<p><b>Other.</b> The development of some 'renewable' sources — notably large hydropower, biofuels, and biomass — can have significant impacts on the environment and on human populations that make it difficult to consider them totally 'clean.' These energy sources, along with nuclear power, incineration, and other forms of power that are not fossil fuel but not 'clean,' are included in the 'Other' category.  Many transmission/distribution and energy sector policy reforms that are unable to be specifically linked to the source of energy are also classified as “other”.</p>

	<p>Go to our <a href="/sectors">Energy Sectors</a> page to see all of the energy sectors included in the database and how they are grouped as fossil (black), clean (green), or other (gray).</p>

	<h2>How are the percentages of fossil fuel energy and clean energy calculated?</h2>

	<p>The fossil fuel energy percentage for an institution is determined by dividing the total amount of the subsidies going to fossil fuel energy projects by the total amount of energy subsidies given by the institution. The same calculation is made for clean energy projects (amount for clean energy projects divided by total amount of energy finance).</p>

	<h2>When is a project classified as energy access for the poor?</h2>

	<p>Project descriptions and documents are evaluated to determine whether or not the project targets increased energy access for the poor. The following indicators are verified in project documents to evaluate whether projects address energy access for the poor:</p>
	<ul>
		<li>The project focuses on a targeted number of new electricity connections or energy services, such as clean cook stoves, to low-income households.</li>
		<li>The project focuses on electricity for services important to the poor, such as health clinics, schools, or telecommunications.</li>
		<li>The project focuses on improving the reliability of electricity services in an area that largely serves low-income households and/or electricity services important to the poor and currently has intermittent or unreliable access.</li>
		<li>The project focuses on provisions to make energy affordable for the poor e.g., effective, transparent safety nets to ensure that poor people can afford energy for basic needs, such as subsidies targeted at access, not consumption (as opposed to only having measures aimed at cost recovery, such as tariff increases).</li>
		<li>The project is focused on productive uses in energy poor communities, such as providing energy to smallholder farmers, small and medium enterprises and labor-intensive industries.</li>
		<li>The project involves power grid extension to new peri-urban or rural areas (as opposed to simply feeding into the existing grid system).</li>
		<li>The project involves rural, off-grid solutions for providing energy services.</li>
	</ul>

	<p>Note: While indicators 1) and 2) include the most basic energy services, the improvement of reliability to low-income households and communities (indicator 3), provisions for making energy affordable (indicator 4), and energy for small-scale productive uses (indicator 5) are also important in achieving a base level of energy access for all. Indicators 6) and 7) do not reflect energy access per se, but these indicators provide a proxy for initiatives that are likely to improve access when evaluating projects.</p> 

	<h2>How is the energy access percentage determined?</h2>

	<p>The energy access percentage for an institution is determined by dividing the total amount of the subsidies going to energy access projects by the total amount of energy subsidies given by the institution.</p>

	<h2>How is the ‘subsidy’ amount determined?</h2>

	<p>The 'subsidy' amount is the amount committed from the financial institution on the date that the loan, grant, or guarantee was approved by the institution. If it can be determined from project information that only a portion of the project or loan went to energy, then only that percentage will be included as the ‘subsidy’ amount.</p>
	
	<p>The amount is entered in U.S. dollars. If currency conversion is required, the U.S. dollar amount is calculated based on the exchange rate on December 31 of the approval year, using the rates published on X-Rates [link to: http://www.x-rates.com/historical/].</p>

	<p>We recognize that there are different ways of quantifying subsidies. For example, some might argue that a 'subsidy' from a development bank should only reflect the difference in the below market interest rate and the subsidized interest rate for the project loan amount. However, most financing institutions do not make publicly available the financing terms, interest rates, or other details about financial transactions, so determining the favorable financing terms for each project is extremely difficult. In addition, in some cases, the energy project would not be able to obtain adequate finance without the public assistance and would thus not go forward at all. This simply illustrates the difficulty in quantifying the subsidy.</p>

	<p>By tracking the overall amount of international financial institution and bilateral financing going to entities for energy projects, the database accurately reflects trends in the types of energy being supported with public money.</p>
	 	
	<h2>Notes on Particular Institutions</h2>

	<p><b>World Bank Group.</b> Data for the World Bank Group includes funds from the International Bank for Reconstruction and Development, the International Development Association, the International Finance Corporation, and the Multilateral Investment Guarantee Agency. Thanks to the Bank Information Center and Greenpeace International for contributing portions of the World Bank Group data.</p>

	<p>Grants and allocations from special funds housed at the World Bank are included in the database but are listed under 'World Bank - Other' or 'Global Environment Facility', as they are not Bank funds.</p>
	
	<p>For projects and policy loans that cover more than one sector or thematic area, the subsidy amount is calculated according to the percentage of the financing that has been assigned to energy.</p>
	
	<p><b>European Investment Bank and European Bank for Reconstruction and Development.</b> Many thanks to CEE Bankwatch Network for contributing the European Investment Bank and European Bank for Reconstruction and Development data. Due to the availability of public information, the dates for these subsidies are the date the project was signed instead of the date it was approved. Further, there were some adjustments made to project categories from CEE Bankwatch classifications for projects at the EIB and EBRD.</p> 

	<h2>Contact</h2>
	
	<p>For more information, please contact info (at) priceofoil.org.</p>

</div>
<div id="exploration" class="page">
<h1>Exploration Subsidies</h1> 

	<p>According to the International Energy Agency, in order to have even a 50 percent chance of keeping global warming under two degrees Celsius, less than one-third of global proven fossil fuel reserves can be burned by 2050. That means keeping more than two-thirds of the fossil fuel reserves that we already know about in the ground.</p>

	<p>The implication for exploration is clear: Continued expansion of fossil fuel reserves is ludicrous from a climate perspective, and it is high time for fossil fuel exploration projects to end.</p> 

	<p>But public, taxpayer money still goes to oil, gas and coal companies to support exploration projects to seek more fossil fuels!</p> 

	<p>Since 2008, the major regional development banks and major export credit agencies have financed $XXX in fossil fuel exploration projects.</p>

	<p>National governments are also subsidizing fossil fuel exploration through subsidies in their own countries. For example, the <a href="#regions/national/US">United States</a> spends on average more than $1 billion in exploration subsidies annually.</p> 

	<p>Subsidies to fossil fuel exploration are archaic and dangerous given the current threats from climate change. International financial institutions and governments should stop subsidizing exploration immediately.</p>

</div>

	</div></div>
</div>