#card {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 0;
	overflow-y: scroll;

	background: fade(#fff, 75%);
	transition: all 0.5s;

	&.open {
		height: 50vw;
	}

	.close {
		background: white;
		border-radius: 50%;
	}
}