#card {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 0;
	overflow-x: hidden;
	overflow-y: scroll;

	color: white;
	background: linear-gradient(fade(@gray-dark, 90%), @gray-darker);
	border-top: 1px solid @gray;
	transition: all 0.5s;

	::-webkit-scrollbar {
		-webkit-appearance: none;
		width: 7px;
	}
	::-webkit-scrollbar-thumb {
		border-radius: 4px;
		background-color: rgba(0, 0, 0, .5);
		-webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
	}

	&.open {
		height: 100vh;
		.handle { display: block; }
		padding-top: 6em;
	}

	.handle {
		position: absolute;
		display: none;
		top: 3em;
		height: 2em;
		width: 2em;
		font-size: @font-size-large;
		opacity: 1;
		color: white;
		background: @gray-darker;
		border: 0;
		border-radius: 1em;
		text-transform: uppercase;
		&.close {
			right: 1em;
			font-family: Helvetica,Arial,sans-serif;
		}
		&.toggle {
			left: 1em;
			padding: 0 1em;
			width: auto;
			color: @gray;
		}
	}
	.csv-link {
		position: relative;
		top: -.5em;
		font-size: @font-size-small;
		color: @brand-primary;
		background: transparent;
		border: 2px solid @brand-primary;
		&:hover {
			color: white;
			background: @brand-primary;
			text-decoration: none;
			cursor: pointer;
		}
	}
	.view-chart {
		height: 40vh;
		.bars {
			height: 100%;
			.stack {
				transition: fill 0.5s;
				stroke-width: 0;
			}
			.axis {
				fill: none;
				stroke: #999;
				shape-rendering: crispEdges;
				.tick {
					fill: #666;
					stroke: #666;
					text-anchor: right;
					font-size: 10px;
					font-weight: 100;
				}
			}
		}
		.fields {
			.btn {
				border: 1px solid @gray-light;
				color: @gray-light;
				background: transparent;
				&.active {
					color: white;
					box-shadow: none;
				}
				&:hover {
					background: fade(@gray, 50%);
				}
			}
		}
		.legend {
			margin-top: 1em;
			padding-bottom: 1em;
			height: 30vh;
			overflow-y: visible;
			list-style: none;
			li {
				text-overflow: ellipsis;
				margin-bottom: 1px;
				white-space: nowrap;
				overflow: hidden;
				padding: .25em .35em;
				height: 2em;
				background-color: @gray-darker;
				border-radius: 1em;
				transition: all 0.5s;
				&:before {
					display: inline-block;
					margin-right: .5em;
					content: '';
					height: 1.5em;
					width: 1.5em;
					border-radius: 50%;
				}
				&:hover {
					color: white;
					background-color: #666;
					&:before {
						background-color: @brand-primary;
					}
				}
				span {
					position: relative;
					top: -.35em;
				}
			}
		}
	}

	.view-table {
		display: none;
		height: 35vh;
		.table {
			margin-bottom: 0;
			.row:hover {
				color: white;
				background-color: #666;
				cursor: pointer;
			}
		}
	}
}
@media screen and (min-width: @screen-sm) {
	#card {
		overflow: visible;
		&.open {
			height: 50vh;
			padding-top: 0;
		}
		.handle {
			top: -1em;
			&.toggle {
				left: auto;
				right: 3.5em;
			}
		}
		.view-chart {
			.legend {
				overflow-y: scroll;
			}
		}
	}
}