.graph {
	.root {
		opacity: 0;
		fill: transparent;
	}
	.bubble {
		stroke-width: 1;
		// fill: @gray-light;
		cursor: pointer;
		&.group {
			fill: rgba(255,255,255,0.25);
		}
		&:hover {
			stroke: #f96;
			stroke-width: 2;
			stroke-opacity: 1;
		}
	}
	.label {
		fill: #fff;
		font-weight: 200;
		pointer-events: none;
	}
}