#oilchange-header {
	margin: 0;
	border: 0;
	border-radius: 0;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;

	background: #222;
	background-image: -webkit-repeating-linear-gradient(-45deg, rgba(0,0,0,0.125) 0%, rgba(0,0,0,0.125) 25%, rgba(0,0,0,0) 25%, rgba(0,0,0,0) 50%);
	background-image: -moz-repeating-linear-gradient(-45deg, rgba(0,0,0,0.125) 0%, rgba(0,0,0,0.125) 25%, rgba(0,0,0,0) 25%, rgba(0,0,0,0) 50%);
	background-image: repeating-linear-gradient(-45deg, rgba(0,0,0,0.125) 0%, rgba(0,0,0,0.125) 25%, rgba(0,0,0,0) 25%, rgba(0,0,0,0) 50%);
	background-size: 10px 10px;
	box-shadow: 0 0 25px #000 inset;

	.navbar-brand {
		max-width: 130px;
		overflow: hidden;
		background: url('../images/logo.png') 1em no-repeat;
		background-size: 112px 30px;
		text-indent: 200%;
		white-space: nowrap;
	}
	.navbar-toggle {
		color: #666;
		background: #222;
		border: 0;
		font-size: 12px;
		font-weight: 200;
		&:hover {
			color: #fff;
			background: #333;
		}
	}
	.navbar-collapse {
		border: 0;
	}
	#oilchange-links a {
		padding-left: 0;
		color: #666;
		font-size: 12px;
		font-weight: 200;
		&:hover {
			color: #fff;
		}
	}
}
