@fossil:		#312;
@clean:			#3f3;
@other:			#ccc;
@stage:			#36f;
@institution:	#63f;

// CATEGORIES

.fossil-fuel	{ fill: @fossil; color: #999; background-color: @fossil; }
.clean 			{ fill: @clean; color: #060; background-color: @clean; }
.other			{ fill: @other; color: #666; background-color: @other; }

// SECTORS

.bioenergy,
.biofuels,
.biomass		{ fill: spin(@clean, -30); &:before { background-color: spin(@clean, -30); } }
.efficiency		{ fill: spin(@clean, -20); &:before { background-color: spin(@clean, -20); } }
.geothermal		{ fill: spin(@clean, -10); &:before { background-color: spin(@clean, -10); } }
.hydro-small	{ fill: spin(@clean, 0); &:before { background-color: spin(@clean, 0); } }
.renewables		{ fill: spin(@clean, 10); &:before { background-color: spin(@clean, 10); } }
.solar			{ fill: spin(@clean, 20); &:before { background-color: spin(@clean, 20); } }
.wind			{ fill: spin(@clean, 30); &:before { background-color: spin(@clean, 30); } }

.charcoal			{ fill: spin(@fossil, -40); &:before { background-color: spin(@fossil, -40); } }
.coal				{ fill: spin(@fossil, -30); &:before { background-color: spin(@fossil, -30); } }
.coal-bed-methane	{ fill: spin(@fossil, -20); &:before { background-color: spin(@fossil, -20); } }
.cooking-fuels		{ fill: spin(@fossil, -10); &:before { background-color: spin(@fossil, -10); } }
.natural-gas,
.gas				{ fill: spin(@fossil, 0); &:before { background-color: spin(@fossil, 0); } }
.gas-flaring-reduction	{ fill: spin(@fossil, 10); &:before { background-color: spin(@fossil, 10); } }
.hydro-large		{ fill: spin(@fossil, 20); &:before { background-color: spin(@fossil, 20); } }
.incineration		{ fill: spin(@fossil, 30); &:before { background-color: spin(@fossil, 30); } }
.oil				{ fill: spin(@fossil, 40); &:before { background-color: spin(@fossil, 40); } }
.oil-and-gas		{ fill: spin(@fossil, 50); &:before { background-color: spin(@fossil, 50); } }

.mixed,
.mixed-or-unspecified	{ fill: @other; &:before { background-color: @other; } }
.nuclear				{ fill: @other; &:before { background-color: @other; } }

// STAGES

.consumption			{ fill: spin(@stage, -40); &:before { background-color: spin(@stage, -40); } }
.exploration			{ fill: spin(@stage, -30); &:before { background-color: spin(@stage, -30); } }
.extraction				{ fill: spin(@stage, -20); &:before { background-color: spin(@stage, -20); } }
.mixed					{ fill: spin(@stage, -10); &:before { background-color: spin(@stage, -10); } }
.point-of-use			{ fill: spin(@stage, 0); &:before { background-color: spin(@stage, 0); } }
.power-production,
.production				{ fill: spin(@stage, 10); &:before { background-color: spin(@stage, 10); } }
.transmission-and-distribution,
.transmission			{ fill: spin(@stage, 20); &:before { background-color: spin(@stage, 20); } }
.transportation			{ fill: spin(@stage, 30); &:before { background-color: spin(@stage, 30); } }

// INSTITUTIONS

.african-development-bank 								{ fill: spin(@institution, 0); &:before { background-color: spin(@institution, 0); } }
.asian-development-bank 								{ fill: spin(@institution, 10); &:before { background-color: spin(@institution, 10); } }
.european-bank-for-reconstruction-and-development 		{ fill: spin(@institution, 20); &:before { background-color: spin(@institution, 20); } }
.european-investment-bank 								{ fill: spin(@institution, 30); &:before { background-color: spin(@institution, 30); } }
.inter-american-development-bank 						{ fill: spin(@institution, 40); &:before { background-color: spin(@institution, 40); } }
.international-bank-for-reconstruction-and-development 	{ fill: spin(@institution, 50); &:before { background-color: spin(@institution, 50); } }
.international-development-association 					{ fill: spin(@institution, 60); &:before { background-color: spin(@institution, 60); } }
.international-finance-corporation 						{ fill: spin(@institution, 70); &:before { background-color: spin(@institution, 70); } }
.japan-international-cooperation-agency 				{ fill: spin(@institution, 80); &:before { background-color: spin(@institution, 80); } }
.multilateral-investment-guarantee-agency 				{ fill: spin(@institution, 90); &:before { background-color: spin(@institution, 90); } }


// HIGHLIGHT

.highlight				{ fill: @brand-primary; &:before { background-color: @brand-primary; } }