@font-face {font-family:'Diavlo';
	src:url('../fonts/diavlo_light_ii_37-webfont.eot');
	src:url('../fonts/diavlo_light_ii_37-webfont.ttf') format('truetype'),
	url('../fonts/diavlo_light_ii_37-webfont.svg') format('svg');
	font-weight: normal; font-style: normal;
}
@font-face {font-family:'Diavlo';
	src:url('../fonts/diavlo_bold_ii_37-webfont.eot');
	src:url('../fonts/diavlo_bold_ii_37-webfont.ttf') format('truetype'),
	url('../fonts/diavlo_bold_ii_37-webfont.svg') format('svg');
	font-weight: bold; font-style: normal;
}

@import '../bower_components/bootstrap/less/bootstrap';
@import 'variables'; // Override BootStrap defaults

@import 'header';
@import 'intro';
	@import 'static';
@import 'pane';
	@import 'globe';
	@import 'graph';
	@import 'legend';
@import 'footer';
@import 'card';
@import 'project';
@import 'loader';

#app {
	position: relative;
	height: 100vh;
	overflow: hidden;
}