#main {
	position: absolute;
	top: 0; left: 0;
	height: 100vh;
	width: 100vw;
}
.pane {
	position: absolute;
	height: 100vh;
	background: linear-gradient(#666, #fff);

	.pane-nav {
		position: absolute;
		top: 50%;
		min-width: 8em;
		margin-top: 4em;
		padding: 0 1em;
		line-height: 3;
		border: 0;
		border-radius: 0 0 1em 1em;
		color: white;
		font-weight: 200;
		background: black;
		text-shadow: none;
	}
	.left:hover .pane-nav, .right:hover .pane-nav {
		background: @brand-primary;
	}
	.left .pane-nav {
		left: 0;
		-webkit-transform: rotate(-90deg);
		-webkit-transform-origin: top left;
		transform: rotate(-90deg);
		transform-origin: top left;
	}
	.right .pane-nav {
		right: 0;
		-webkit-transform: rotate(90deg);
		-webkit-transform-origin: top right;
		transform: rotate(90deg);
		transform-origin: top right;
	}
	.carousel-caption {
		color: black;
		text-shadow: 0 0 1px white;
		small {
			text-transform: uppercase;
		}
	}
	.mode-selector {
		display: block;
		top: 5em;
		margin: 0 auto;
		width: 20em;
		.btn {
			width: 10em;
			border: 1px solid @gray-light;
			color: @gray-light;
			background: transparent;
			&.active {
				color: white;
				box-shadow: none;
			}
			&:hover {
				background: fade(@gray, 50%);
			}
		}
	}
}